---
// Import Stylesheet
import '../styles/global.css';



// data source
const source = 'https://db.ygoprodeck.com/api/v7/cardinfo.php';
// fetch the data
const res = await fetch(source); 
// store retreived data
const data = await res.json();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

		<title>Retreive and and display external API data with Astro</title>
	</head>
	<body>
		
		<header class="site-title">
			<br>
			<h1>Yu-Gi-Oh TCG</h1>
			<img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExZGhhaGN4cXViNTh0eDQ5c3V0cXlsbmw0Y3I1cW1mdWFremIwYW95NCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/T5fTSL8BRVBVVSreBw/giphy.webp" alt="giphy">

		</header>

		<main class="main-area">

			<ul id="cards">
		  
				<!-- Your API Data -->
				{
					data.data.map((card) => (
						<li>
							<img src={card.card_images[0].image_url} alt="" />
							<h1>Card Name: {card.name}</h1>
							<p>TCG Market Price: ${card.card_prices[0].tcgplayer_price}</p>
							<p>Type: {card.type}</p>
						</li>
					))
				}

		  
			</ul>
		  </main>
		  


	</body>
</html>
